.active_list_top{
    position: relative;
    height: 1.28rem;
}
.active_list_top_img{
    position: absolute;
    top:.5rem;
    left: .25rem;
    width: .14rem;
}
.active_list_top p{
    font-size: .3rem;
    text-align: center;
    color: #4d4d4d;
    line-height: 1.28rem;
}
.swiper-container {
    width: 100%;
    padding-top: .4rem;
    padding-bottom: .4rem;
}
.swiper-container a{
    display: block;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 6rem;
    height: 10rem;
    position: relative;
    border-radius: .1rem;
}
.active_list_text{
    position: absolute;
    top:4.4rem;
    left: .4rem;
    width: 5.2rem;
    height: 1.2rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    color: #fff;
    text-align: center;
    padding-top:.26rem;
}
.active_list_title{
    font-size: .36rem;
}
.active_list_engTitle{
    font-size: .24rem;
}