<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>绿色生活</title>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/swiper-3.4.2.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/green_life.css"/>
		<script src="../../js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jQuery/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jQuery/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-cloak>
		<header>
			<div class="back">
				<img src="../../img/back.png"/>
			</div>
			<div class="con">
				绿色生活
			</div>
		</header>
		<nav>
			<div class="swiper-container">
			    <div class="swiper-wrapper" ng-controller="swiper-wrapper">
			        <div class="swiper-slide" ng-repeat="item in banner_list">
			        	<a href="goods_group.html?goods_group_id={{item.id}}">
			        		<img src="{{item.goods_thumb}}"/>
			        	</a>
			        </div>
			    </div>
			    <div class="swiper-pagination"></div>
			</div>
		</nav>
		<div class="commodity_list"  ng-controller="commodity_list">
			<dl ng-repeat="item in list_count">
				<a href="goods_detail.html?goods_id={{item.goods_id}}">
				<dt>
					<img src="{{item.goods_thumb}}"/>
				</dt>
				<dd>
					<div>{{item.goods_name}}</div>
					<div><span class="prise">￥{{item.shop_price}}</span><span class="saled">已售 {{item.goods_sell_num}}</span></div>
				</dd>
				</a>	
			</dl>
		</div>
		<script src="../../js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/goBack.js" type="text/javascript" charset="utf-8"></script>
		<script> 
				var mySwiper = new Swiper('.swiper-container',{
					observer:true,//修改swiper自己或子元素时，自动初始化swiper
					observeParents:true,//修改swiper的父元素时，自动初始化swiper
					pagination : '.swiper-pagination',
				})
				var single_url = 'http://api2.shanhecang.com/goods';
				var app = angular.module("app",[]);
				app.controller("commodity_list",function($scope,$http){
					//单件商品列表
					$http.get(single_url).success(function(msg){
						$scope.list_count = msg.data.data;
					}).error(function(){
						alert("error")
					})
				})
				app.controller("swiper-wrapper",function($scope,$http){
					var group_url = 'http://api2.shanhecang.com/goodsgroup?page=1&page_size=10';
					//组合商品列表
					$http.get(group_url).success(function(msg){
  						$scope.banner_list = msg.data.data;
					}).error(function(){
						alert("error")
					})
				})
		</script>
	</body>
</html>
