body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;font-family: "Microsoft YaHei", "PingFang SC", sans-serif;}
body,html{width: 100%;}
.clearfix:after{content: ".";clear: both;display: block;height: 0;overflow: hidden;visibility: hidden;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
i,em{font-style:normal;}
b,strong{font-weight:100;}
img{display:block;border:0}

footer{position: fixed;bottom:0;left: 0;font-size: 0.24rem;width: 100%;height: 1.03rem;background: #f7f7f7;display: flex;}
footer div{width: 33.333%;height: 1.03rem;text-align: center;}
footer a{color:#b9b9b9;height: 100%;width: 100%;}
footer img{width: 0.43rem;height: 0.43rem;margin: 0.15rem 0 0.05rem 1.02rem;}

.join_car{width: 100%;height: 1rem;background: rgb(248,248,248);position: fixed;bottom: 0;left: 0;font-size: .3rem;display: flex;align-items: center;justify-content: space-between;}
.join_car div:nth-child(1){display: flex;margin-left: .2rem;color: rgb(77,77,77);}
.join_car img{width: .5rem;height: .5rem;margin: 0 .1rem;}
.join_car div:nth-child(2){height: 100%;width: 2rem;background: rgb(77,77,77);text-align: center;line-height: 1rem;color: #fff;}
