/*header*/
.head{width: 100%;height: 5.63rem;position: relative;}
.head img{width: 100%;height: 5.63rem;}
.head .title{width: 5.22rem;height: 1.1rem;padding-top: 0.2rem; border-radius: 20px;background: rgba(0,0,0,.5);position: absolute;left:1.14rem;top: 2.4rem;}
.head .title>p:nth-child(1){font-size: .28rem;color: #fff;text-align: center;}
.head .title>p:nth-child(2){font-size: .44rem;color: #fff;text-align: center;font-weight: 900;}
/*weather*/
.weather{width: 7.15rem;height:1.4rem;background: darkorange;border-radius: 5px;margin: .18rem auto;position: relative;color: #fff;}
.werther_icon{width: .4rem;height: .4rem;}
#demo{display: flex;height: 100%;}
#demo>div:nth-child(1){width: 4.08rem;height: 100%; font-size: .66rem;text-align: center;line-height:1.4rem;color: #656761;}
#demo>div:nth-child(2){width: 3.08rem;display: flex;flex-direction:column;}
#demo>div:nth-child(2) .data{font-size: .28rem;height: .58rem;width: 100%;margin: .2rem 0 0;}
#demo>div:nth-child(2) .temp{font-size: .28rem;font-weight: 600;color: #777;display: inline-flex;}
#demo>div:nth-child(2) .werther_icon{margin: 0 .16rem;}
.weather .make{position: absolute;width: 1.8rem;height: .48rem;font-size: .26rem;background: rgba(0,0,0,.8);border-radius: .16rem;text-align: center;line-height: .48rem;bottom: .24rem;right: .7rem;}
/*pic_list*/
.pic_list{margin: 0 auto}
.pic_list dl{width: 7.15rem;height: 4.73rem;margin:0 0 .18rem .18rem;}
.pic_list dt{width: 7.15rem;height: 4.17rem;border-radius: 5px;box-shadow: 0px 3px 3px #d5dbd7;position: relative;overflow: hidden;}
.pic_list dt img{width: 7.15rem;height: 4.17rem;}
.pic_name{padding:0.12rem 0.18rem; background: #f3f3f3;border-radius: 0.2rem;font-size: 0.2rem;color: #777; position: absolute;left: .16rem;bottom: .16rem;text-align: center;line-height: .45rem;}
.pic_list dd{width: 100%;height: .35rem;padding-top: .2rem;display: flex;justify-content: space-between;}
.pic_list dd .author{display: flex;height: .35rem;line-height: .35rem}
.pic_list dd .author .author_head{width: .35rem;height: .35rem;border-radius: 100%;background: darkgoldenrod;display: block;margin:0  .09rem 0;}
.pic_list dd .author .author_name{font-size: .22rem;color: #777;}
.pic_list dd .comment_like{display: flex;}
.pic_list dd .comment_like i{color: #b9b9b9;font-size: .17rem;}
.pic_list dd .comment_like div{display: flex;align-items: center;}
.pic_list dd .comment_like .comment{margin-right: .32rem;}
.comment_like div img{width: 0.19rem;height: 0.19rem;margin-right: .08rem;}
.pic_list dl:last-child{margin-bottom: 1.3rem;}



