.commodity_img{width: 100%;height: 9.1rem;position: relative;overflow: hidden;}
.commodity_img .swiper-container img{height: 7.1rem;line-height: 7.1rem;}
.commodity_img_nav{width: 100%;height: 0.55rem; position: absolute;left: 0;top: 0.2rem;display: flex;justify-content: space-between;z-index: 99;}
.commodity_img_nav>img{margin-left: 0.2rem;width: .55rem;height: .55rem;}
.commodity_img_nav div{width: 1.5rem;height:0.48rem;display: flex;}
.commodity_img_nav div img{width: .55rem;height: .55rem;margin: 0 0.1rem;border-radius: 0.1rem;}
.commodity_content{width: 6.7rem;height: 1.4rem;padding:.4rem .4rem .2rem .2rem;position: relative;}
.commodity_name{margin-bottom: .28rem;height:0.8rem;}
.commodity_name p{width:85%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.commodity_name p:nth-child(1){font-size: .3rem;height: 0.7rem;}
.commodity_name p:nth-child(2){font-size: .24rem;}
.commodity_name>span{font-size: .24rem;position: absolute;right: .4rem;top: .4rem;}
.commodity_name>span>img{width: .48rem;height: .48rem;margin-bottom: .1rem;border-radius: .1rem;overflow: hidden;}
.commodity_name>span>i{font-size: .24rem;}
.commodity_content div:nth-child(2){display: flex;font-size: .3rem;justify-content: space-between;height: 0.3rem;}
.commodity_content div:nth-child(2) .commodity_saled{font-size: .24rem;color: rgb(172,172,172);}
.include_goods{width: 100%;height: 2.44rem;border:solid .1rem rgb(236,236,236);border-width: .1rem 0;overflow: hidden;}
.include_goods span{font-size: .24rem;margin: .18rem .2rem;display: block;}
.include_goods .swiper-wrapper{display: flex;}
.include_goods .swiper-slide{width: 1.5rem!important;height: 1.5rem;position: relative;margin-left: .2rem;}
.include_goods .swiper-slide img{width: 1.5rem;height: 1.5rem;}
.include_goods .swiper-slide >i{width: 1rem;height: .28rem;background: rgba(255,255,255,.5);font-size: .2rem;position: absolute;left: .06rem;bottom: .06rem;}
.assure{display: flex;font-size: .24rem;width: 100%;height: .8rem;border-top:1px solid rgb(236,236,236);border-bottom:1px solid rgb(236,236,236);align-items: center;}
.assure div{display: flex;margin-right: .4rem;align-items: center;}
.assure div:nth-child(1){padding-left: 0.2rem;}
.assure div img{width: .4rem;height: .4rem;border-radius: .1rem;margin-right: .1rem;}
.commodity_details{width: 7.1rem;margin: .4rem auto 1.1rem;min-height: 8.14rem;}
.commodity_details p{width: 100%;height: 1.2rem;display: flex;align-items: center;font-size: .24rem;color:rgb(77,77,77);}
.commodity_details p img{width: .4rem;height: .4rem;margin-right: .1rem;}
.commodity_imgb{width: 100%;height: 7.74rem;}
.commodity_imgb img{width:100%;height: 7.74rem;}
